<% layout('layout') -%>

<h1>Welcome to THE BLOG</h1>
<p class="lead">Please login or create an account to add a new blog post</p>
<p class="lead">Or click 'List' in navigation menu to view blog posts</p>
<hr/>
<% if(user) { %>
  <img src="https://i.pinimg.com/originals/17/4e/84/174e8447752bd6282835e11477632286.jpg">
<% } %>

