<% layout('layout') -%>

<h1>Welcome to THE BLOG</h1>
<p class="lead">Please login or create an account to add a new blog post</p>
<p class="lead">Or click 'List' in navigation menu to view blog posts</p>
<hr/>

